/vendor/
/node_modules/
/build/
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan.cache/
/.idea/
/.vscode/
/.DS_Store
composer.lock
phpunit.xml
phpstan.neon.dist.local
/workbench/database/database.sqlite
/docs/screenshots/*.tmp.png
